
#direita {
    text-align : center;
    background:rgb(19, 57, 76)
}

h2{
    text-transform: uppercase;
    margin-left:350px;
    color:#D6D6D6;
}
h1{
   
}
.noticia{
    padding: 10px;
    background: #13394c;
    color: #d6d6d6;
    width:980px;
    height:399px;
   
}
.imagem{
    margin-top:auto;
    width:280px;
    height:300px;
    
}
.p{
    margin-top: auto
    color: red;
    float: left;

 }