.comandatbl{
    padding: 10px;
    background: #13394c;
    color: #d6d6d6;
}


.corpo {
    height: 100%;
    width: 1311px;
    margin-top:20px;
    padding: 10px;
    background: #D6D6D6;
}

.boxVerde{
    padding: 10px;
    height: 100%;
    width: 900px;
    margin-left: 150px;
    background: #13394c;
    color: #d6d6d6;
}
